.about_content {
	 height: 90%;
	 top: 5%;
	 left: 55px;
	 min-height: 566px;
	 display: flex;
	 position: absolute;
	 flex-direction: column;
	 justify-content: space-between;
	 width: calc(100% - 55px);
}
 .about_content .text_h1 {
	 color: #08fdd8;
}
 .about_content .about_main {
	 margin-left: 6%;
	 width: 90%;
	 vertical-align: middle;
	 display: flex;
	 justify-content: space-between;
	 max-height: 90%;
}
 .about_content .about_main .left_side, .about_content .about_main .right_side{
	 width: 47%;
	 display: flex;
	 flex-direction: column;
	 align-items: center;
}
 .about_content .about_main .left_side p.left_side_text, .about_content .about_main .right_side p.right_side_text{
	 font-size: 12px;
	 line-height: 18px;
	 color: #fff;
	 font-family: monospace, sans-serif;
	 margin: 12px 0;
}

 @media only screen and (min-width: 320px) and (max-width: 480px) {
	 .about_content {
		 left: 0;
		 top: 70px;
		 min-height: 810px;
		 margin: 0;
		 position: relative;
		 height: 100%;
		 width: 100%;
	}
	 .about_content .about_main {
		 height: 100%;
		 top: 70px;
		 width: 90%;
		 /* margin-left: 9%; */
		 flex-direction: column;
	}
	 .about_content .about_main .left_side,.about_content .about_main .right_side {
		 width: 100%;
	}
	 .about_content .about_main .left_side p,.about_content .about_main .right_side p {
		 font-size: 16px;
		 letter-spacing: 1px;
		 line-height: 19px;
	}

}
 @media only screen and (min-width: 481px) and (max-width: 1024px) {
	/*768px*/
	 .about_content {
		 left: 0;
		 top: 70px;
		 min-height: auto;
		 margin: 0;
		 position: relative;
		 height: 100%;
		 width: 100%;
	}
	 .about_content .about_main {
		 height: 100%;
		 top: 70px;
		 width: 90%;
		 margin-left: 9%;
		 flex-direction: column;
	}
	 .about_content .about_main .left_side,.about_content .about_main .right_side {
		 width: 100%;
	}
	 .about_content .about_main .left_side p,.about_content .about_main .right_side p {
		 font-size: 16px;
		 letter-spacing: 1px;
		 line-height: 19px;
	}

}
.hidd{
	opacity: 0;
}
div.social_buttons_contact {
	
	/* width: 100%; */
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-content: center;
	text-align: center;
}
div.social_buttons_contact a:hover > .fa-whatsapp,  div.social_buttons_contact a:hover > .fa-github,  div.social_buttons_contact a:hover > .fa-instagram, div.social_buttons_contact a:hover > .fa-linkedin, div.social_buttons_contact a:hover > .fa-envelope, div.social_buttons_contact a:hover > .fa-twitter {
	color: #08fdd8;
}
div.social_buttons_contact .fa-whatsapp,  div.social_buttons_contact .fa-github,  div.social_buttons_contact .fa-instagram,  div.social_buttons_contact .fa-linkedin,  div.social_buttons_contact .fa-envelope,  div.social_buttons_contact .fa-twitter {
	display: block;
	padding: 5px 0;
	margin: 0 auto;
	height: 30px;
	font-size: 22px;
	line-height: 16px;
	transition: 0.3s;
	color: #4d4d4e;
}
div.social_buttons_contact > a{
	text-decoration: none;
}
div.social_buttons_contact {
	flex-direction: row;
	width: 100%;
	min-width: 180px;
	height: 60px;
	margin-top: 25px;
	transition: 0.3s all linear;
}
div.social_buttons_contact .fa-whatsapp,  div.social_buttons_contact .fa-github,  div.social_buttons_contact .fa-instagram,  div.social_buttons_contact .fa-linkedin,  div.social_buttons_contact .fa-envelope,  div.social_buttons_contact .fa-twitter {
	height: 60px;
	padding: 0;
}
div.social_buttons_contact.is-open {
	left: calc(50% - 90px);
}
@media only screen and (min-width: 481px) and (max-width: 1024px) {

	 div.social_buttons_contact {
		 flex-direction: row;
		 width: auto;
		 min-width: 100px;
		 height: 60px;
	}
	 div.social_buttons_contact .fa-whatsapp,  div.social_buttons_contact .fa-github,  div.social_buttons_contact .fa-instagram,  div.social_buttons_contact .fa-linkedin,  div.social_buttons_contact .fa-envelope,  div.social_buttons_contact .fa-twitter {
		 height: 60px;
		 padding: 0;
	}
}